@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer utilities {
  .nav {
   @apply relative ml-10 text-wildSand tracking-[1px] hover:text-white
  }
  .nav::after{
    @apply content-[''] bg-brightTurquoise h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .nav:hover::after{
   @apply w-[100%]
  }
}

